@page "/"
@inject IJSRuntime JsRuntime

<PageTitle>象晴設計 ElephantShine</PageTitle>

<nav class="navbar navbar-fixed-top navbar-custom navbar-transparent">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" alt="象晴設計" title="象晴設計">象晴設計</a>
        </div>
        <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/" alt="首頁" title="首頁">HOME</a>
                </li>
                <li>
                    <a href="/portfolio.html" alt="作品集" title="作品集">PORTFOLIO</a>
                </li>
                <li>
                    <a href="/contact.html" alt="聯絡我們" title="聯絡我們">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- header end -->
<div class="wrapper">
<!-- body start -->
<section id="hero" class="module-hero js-fullheight">
    <div id="slides">
        <ul class="slides-container">
            <li class="module-overlay-dark-1">
                <img src="https://raw.githubusercontent.com/ElephantShine/images/main/webp/banner01.webp" alt="banner" title="象晴設計">
                <div class="hero-caption">
                    <div class="hero-text">
                        <h1 class="hero-title m-t-70 wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                            象晴設計
                        </h1>
                        <p class="lead m-t-20 m-b-60 wow fadeInDown animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                            大象 不會忘記，晴天 永遠都在
                        </p>
                    </div>
                </div>
            </li>
            <li class="module-overlay-dark-1">
                <img src="https://raw.githubusercontent.com/ElephantShine/images/main/webp/banner02.webp" alt="banner" title="象晴設計">
                <div class="hero-caption">
                    <div class="hero-text">
                        <h1 class="hero-title m-t-70 wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                            象晴設計
                        </h1>
                        <p class="lead m-t-20 m-b-60 wow fadeInDown animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                            大象 不會忘記，晴天 永遠都在
                        </p>
                    </div>
                </div>
            </li>
            <li class="module-overlay-dark-1">
                <img src="https://raw.githubusercontent.com/ElephantShine/images/main/webp/banner03.webp" alt="banner" title="象晴設計">
                <div class="hero-caption">
                    <div class="hero-text">
                        <h1 class="hero-title m-t-70 wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                            象晴設計
                        </h1>
                        <p class="lead m-t-20 m-b-60 wow fadeInDown animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                            大象 不會忘記，晴天 永遠都在
                        </p>
                    </div>
                </div>
            </li>
        </ul>
        <nav class="slides-navigation">
            <a href="#" class="next">
                <i class="fa fa-angle-right"></i>
            </a>
            <a href="#" class="prev">
                <i class="fa fa-angle-left"></i>
            </a>
        </nav>
    </div>
</section>
<section class="module module-w p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 wow fadeInUp">
                <h2 class="module-title">ABOUT 象晴設計</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="module-subtitle m-t-90 m-t-sm-0">
                    象，有驚人的記憶力； 晴，是每一天的生活！
                    <br/>
                    <p>歡迎光臨 象晴設計！</p>
                    <p>在這兒，晴天非外在，而是心情；</p>
                    <p>讓咱們一同帶著愉快的心，完成每件最重要的專案！</p>
                    <br/>
                    <p>NICE to MEET YOU！</p>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <img src="https://raw.githubusercontent.com/ElephantShine/images/main/webp/about.webp" alt="about elephantshine" title="象晴設計">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="module module-g">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 wow fadeInUp">
                <h2 class="module-title">SERVICE 服務好周到</h2>
                <h3 class="module-subtitle">象晴設計不斷的進化演進，提供完整的專業服務，效率滿載<br/>為每一專案形塑極大化的價值。</h3>
            </div>
        </div>
        <div class="row multi-columns-row">
            <div class="col-sm-3">
                <div class="iconbox wow fadeInUp">
                    <div class="iconbox-icon">
                        <span class="icon icon-badge"></span>
                    </div>
                    <h6 class="iconbox-title">LOGO設計</h6>
                    <p>品牌命名‧視覺設計</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow fadeInUp" data-wow-delay="0.1s">
                    <div class="iconbox-icon">
                        <span class="icon icon-emotsmile"></span>
                    </div>
                    <h6 class="iconbox-title">形象設計</h6>
                    <p>識別延伸‧廣宣品設計</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow fadeInUp" data-wow-delay="0.2s">
                    <div class="iconbox-icon">
                        <span class="icon icon-present"></span>
                    </div>
                    <h6 class="iconbox-title">包裝設計</h6>
                    <p>產品包裝‧禮盒設計</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow fadeInUp" data-wow-delay="0.3s">
                    <div class="iconbox-icon">
                        <span class="icon icon-camera"></span>
                    </div>
                    <h6 class="iconbox-title">活動文宣</h6>
                    <p>海報設計‧活動旗幟</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow fadeInUp" data-wow-delay="0.4s">
                    <div class="iconbox-icon">
                        <span class="icon icon-book-open"></span>
                    </div>
                    <h6 class="iconbox-title">書籍型錄</h6>
                    <p>產品攝影‧封面及內頁</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow fadeInUp" data-wow-delay="0.5s">
                    <div class="iconbox-icon">
                        <span class="icon icon-notebook"></span>
                    </div>
                    <h6 class="iconbox-title">教材編排</h6>
                    <p>視覺設計‧插畫繪製</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow fadeInUp" data-wow-delay="0.6s">
                    <div class="iconbox-icon">
                        <span class="icon icon-heart"></span>
                    </div>
                    <h6 class="iconbox-title">婚卡喜帖</h6>
                    <p>客製化婚卡及喜帖</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow fadeInUp" data-wow-delay="0.7s">
                    <div class="iconbox-icon">
                        <span class="icon icon-flag"></span>
                    </div>
                    <h6 class="iconbox-title">印刷輸出</h6>
                    <p>紙類印刷‧大圖輸出</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="module module-w">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 wow fadeInUp">
                <h2 class="module-title">Steps 專案執行流程</h2>
                <h3 class="module-subtitle">完整作業流程，量身訂做的專案服務。象晴團隊藉著專業技能，為您的專案用心付出。</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="iconbox point-img wow fadeInUp">
                    <div class="iconbox-icon">
                        <span class="icon icon-bulb"></span>
                    </div>
                    <h6 class="iconbox-title">歡迎+留言</h6>
                    <p>如果您有任何需要，歡迎至網頁留下聯絡方式，我們將熱忱為您服務。</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox point-img wow fadeInUp" data-wow-delay="0.1s">
                    <div class="iconbox-icon">
                        <span class="icon icon-user"></span>
                    </div>
                    <h6 class="iconbox-title">溝通+報價</h6>
                    <p>象晴設計團隊為每位客戶規劃單一聯絡窗口，充分了解您的需求與想法，提供符合專案的專業建議，並且進行報價。</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox point-img wow fadeInUp" data-wow-delay="0.2s">
                    <div class="iconbox-icon">
                        <span class="icon icon-pencil"></span>
                    </div>
                    <h6 class="iconbox-title">傾聽+提案</h6>
                    <p>傾聽是專案執行中最重要的一環。在達到高品質成品的前提下，重視您的想法，並藉著我們的專業技能執行專案，進行設計提案。</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="iconbox wow fadeInUp" data-wow-delay="0.3s">
                    <div class="iconbox-icon">
                        <span class="icon icon-directions"></span>
                    </div>
                    <h6 class="iconbox-title">結案+愉快</h6>
                    <p>高品質成品及服務，是象晴團隊的重要指標。當您確認設計內容後，代表您即將和象晴一同畫上這完美的逗點！</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="text-center m-t-70">
                    <a href="Contact.html" class="btn btn-circle btn-def wow tada animated" style="visibility: visible; animation-name: tada;">聯絡我們</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- body end -->
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("initializeCustomScripts");
        }
    }

}